---

import Layout from "@/layouts/Layout.astro"
import Login from "./login"

---

<Layout title="Login | Ghar">
    <div class="flex w-full justify-center items-center h-[80vh]">
        <Login client:load />
    </div>
</Layout>
