---

import Layout from "@/layouts/Layout.astro"
import Register from "./register"

---

<Layout title="Login | Ghar">
    <div class="flex w-full justify-center items-center h-[80vh]">
        <Register client:load />
    </div>
</Layout>
